body{
	background: #f8f9fa !important;
}

.form-control{
	border-radius: .15rem !important;
}

.app-nav{
	background: #fff !important;
}

.space-div{
	margin-right: 1.2rem;
}

.register-form{
	background: #ffffff;
	padding: 1em;
}

.divider{
	width: 15%;
    height: 6px;
    background: #39a6b1;
    margin-bottom: 1em;
    border-radius: 25px;
}